---
title: Example
---

%header.topbar.swipenavigation.js-swipenavigation
  %ul
    - 10.times do |i|
      %li
        %a{href: '#'}
          = i
  %a.next{href: '#'}
    %i.fa.fa-caret-right
  %a.back{href: '#'}
    %i.fa.fa-caret-left
